.section-5{
    padding: 75px 0 160px;
    overflow: hidden;
}
.section-5_description{
    font-size: 18px;
    margin-bottom: 73px;
}
#section-5_slider{
    width: 705px;
    height: 445px;
    padding: 0 180px;
    overflow: visible;
}
.section-5_slider_item{
    display: flex;
    justify-content: space-between;
}
#section-5_swiper-prev, #section-5_swiper-next{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFB82D 0%, #FFA800 100%);
}
#section-5_swiper-next img{
    rotate: 180deg;
}
#section-5_swiper-prev.swiper-button-prev::after, #section-5_swiper-next.swiper-button-next::after{
    display: none;
}
#section-5_swiper-pagination{
    bottom: -80px;    
}

@media (max-width: 1200px){
    .section-5_description{
        font-size: 14px;
    }
    #section-5_slider{
        width: 600px;
        height: 340px;
        padding: 0 80px;
    }
    .section-5_slider_item img{
        width: 40%;
        height: 40%;
    }
    #section-5_swiper-prev, #section-5_swiper-next{
        height: 40px;
        width: 40px;
    }
    #section-5_swiper-prev img, #section-5_swiper-next img{
        width: 70%;
        height: 70%;
    }
}
@media (max-width: 800px){
    .section-5{
        padding: 50px 0 60px;
    }
    .section-5_slider_item{
        justify-content: center;
    }
    #section-5_slider{
        width: 400px;
        height: 445px;
        padding: 0 40px;
    }
    .section-5_slider_item img{
        width: unset;
        height: unset;
    }
    #section-5_swiper-pagination{
        bottom: -40px;    
    }
}
@media (max-width: 580px){
    .section-5{
        padding: 20px 0 60px;
    }    
    .section-5_description{
        font-size: 12px;
    }
    #section-5_slider{
        width: 150px;
        height: 220px;
        padding: 0 60px;
    }
    .section-5_slider_item img{
        width: 150px;
        height: 220px;
    }
    #section-5_swiper-prev, #section-5_swiper-next{
        height: 25px;
        width: 25px;
    }
}
